/*
================================================================================
Product Landing Page CSS 
Author: Nevoada ( https://github.com/Nevoada10 )
================================================================================
*/

/* CSS Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
}

header {
    position: fixed;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vw;
    object-fit: cover;
    margin: 0;
    padding: 0;
}